#footer {
	background-color: var(--dark-blue);
	height: 30vh;
}

#footer > div > div {
	height: 100%;
	display: flex;
	justify-content: space-around;
	color: var(--white);
	align-items: center;
}

#footer > div > div div {
	flex-basis: 30%;
}