@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --main-font: "Outfit";
    --sub-font: "Roboto";
    --dark-blue: #15313F;
    --blue: #1F4761;
    --yellow: #F4C501;
    --light-yellow: #FFDD60;
    --white: #FFFDF0;
    --black: #000105;
    --text-white: #FFF;
    --text-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--main-font);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea, select {
	font-family: var(--main-font);
	font-size: 1.2rem;
	border-radius: 0.5vmin;
	border: 1px solid rgba(0,0,0,0.4);
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
textarea:focus, select:focus {
	outline: 1px solid rgba(0,0,0,0.4);
}

textarea {
	font-family: var(--main-font);
}

.hero-title {
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 500;
	padding: 2rem 0;
}

.hero-text {
    font-family: var(--sub-font);
    font-size: 1.2rem;
    font-weight: 300;
	padding-bottom: 1rem;
}

.body-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.5rem;
}

.body-text {
    font-family: var(--sub-font);
    font-weight: 300;
    font-size: 1.2rem;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* BUTTON */
.round-button {
	padding: 10px 25px;
	color: var(--text-black);
	background: var(--yellow);
	font-size: 16px;
	font-weight: 400;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.round-button:hover {
	background-color: var(--blue);
	color: var(--text-white);
	transition: .1s;
}

.round-button:not(:hover) {
	transition: .1s;
}
.button-div {
  margin: 2em auto;
}
/* BUTTON */


/* .marker {
	background-image: url('mapbox-icon.png');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
} */

.marker {
	align-items: center;
	z-index: 100;
}

.marker svg {
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	border-radius: 1vmin;
}

.marker svg:hover {
	cursor: pointer;
}

.marker svg[data-selected="true"] {
	background-color: rgba(0, 0, 0, 0.5);
}

.marker svg[data-selected="true"]:hover {
	cursor: default;
}